* {
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
}

header {
  position: fixed;
  z-index: 6;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right, rgb(230, 230, 230), rgb(238, 0, 0));
  align-items: center;
  width: 80rem;
  height: 95px;
  padding: 5px 10%;
}
@media only screen and (max-width: 420px) {
  header {
    background-image: linear-gradient(to left, rgb(230, 230, 230), rgb(238, 0, 0));
    width: 100%;
    height: 5rem;
  }
}

.container .container-links {
  list-style: none;
  cursor: pointer;
}
.container .container-links li {
  display: inline-block;
  padding: 0 20px;
}
.container .container-links li a {
  font-size: 21px;
  color: black;
  text-decoration: none;
  margin-left: 3rem;
}
.container .container-links li a:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
}
@media only screen and (max-width: 420px) {
  .container .container-links {
    margin: 0%;
  }
  .container .container-links li a {
    font-size: 75%;
  }
}

.redes {
  cursor: pointer;
  width: 200px;
}
.redes .ig {
  width: 63px;
  height: 65px;
  border-radius: 40px;
  margin: 8%;
}
.redes .ig:hover {
  transform: scale(1.1);
}
.redes .face {
  width: 53px;
  height: 65px;
  border-radius: 23px;
  margin: 8%;
}
.redes .face:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 420px) {
  .redes .ig {
    border-radius: 40%;
    margin: 5%;
    width: 48%;
    height: 50%;
  }
  .redes .face {
    border-radius: 70%;
    margin: 3%;
    width: 43%;
    height: 40%;
  }
}

main section .logo img {
  width: 500px;
  height: 900px;
  margin: 20px;
  margin-top: 5rem;
  margin-left: 23rem;
}
main section h1 {
  font-size: 34px;
  margin: 10px 0px 0px 0px;
  margin-left: 20rem;
}
main section .prueba {
  width: 15rem;
  border-bottom: 2px solid rgb(241, 120, 120);
  margin: 10px 30rem 2rem;
}
main section .intro {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  background-color: rgb(233, 229, 229);
}
main section .intro p {
  padding-top: 2rem;
  font-size: 19px;
  width: 30rem;
  margin-left: 3rem;
}
main section .intro img {
  margin-left: 3rem;
  width: 400px;
  height: 300px;
}
@media only screen and (max-width: 420px) {
  main section .logo img {
    margin-top: 130%;
    margin: 4%;
    margin-left: 25.9%;
    width: 50%;
    height: 50%;
  }
  main section h1 {
    font-size: 96%;
    margin: 3%;
    margin-left: 10%;
  }
  main section .prueba {
    width: 45%;
    margin: 4%;
    margin-left: 30%;
  }
  main section .intro {
    display: block;
    margin: 5%;
    width: 90%;
  }
  main section .intro p {
    width: 70%;
    font-size: 93%;
  }
  main section .intro img {
    width: 70%;
    margin: 5%;
    margin-left: 17%;
  }
}

.fest {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  row-gap: 5px;
  column-gap: 5px;
}
.fest img {
  transform: translateX(7rem);
  margin: 15px;
  width: 350px;
  height: 300px;
}
@media only screen and (max-width: 420px) {
  .fest {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    width: 15rem;
    margin-left: 3.5rem;
  }
  .fest .elemento {
    flex: 1 0 auto;
    margin: 0 3rem;
    width: 10rem;
    height: 10rem;
  }
}

.parte-1 .prueba {
  width: 15rem;
  border-bottom: 2px solid rgb(243, 0, 0);
  margin: 10px 31rem 2rem;
}
@media only screen and (max-width: 420px) {
  .parte-1 .prueba {
    width: 50%;
    margin: 4%;
    margin-left: 27%;
  }
}
.parte-1 h2 {
  width: 270px;
  transform: translateX(30.4rem);
  font-size: 27px;
  margin: 17px;
}
@media only screen and (max-width: 420px) {
  .parte-1 h2 {
    margin: 0%;
    width: 10rem;
    font-size: 105%;
    transform: translateX(6.3rem);
  }
}
.parte-1 p {
  transform: translateX(29.5rem);
  width: 350px;
}
.parte-1 p a:hover {
  transform: scale(1.1);
  color: red;
}
@media only screen and (max-width: 420px) {
  .parte-1 p {
    margin: 3%;
    width: 17rem;
    transform: translateX(2rem);
    font-size: 88%;
  }
  .parte-1 p a {
    font-size: 90%;
  }
}
.parte-1 .suscripcion h2 {
  margin: 20px;
  font-size: 26px;
  transform: translateX(15rem);
  width: 860px;
}
.parte-1 .suscripcion p {
  width: 550px;
  margin: 50px;
  transform: translateX(22rem);
}
.parte-1 .suscripcion .whats {
  width: 12rem;
  transform: translateX(34rem);
  margin-bottom: 60px;
}
.parte-1 .suscripcion .whats a {
  width: 100px;
  background-color: white;
  color: green;
  border: 5px solid green;
  height: 60px;
  margin: 30px;
  font-size: 20px;
  padding: 15px;
  border-radius: 13px;
  list-style-type: none;
  text-decoration: none;
}
.parte-1 .suscripcion .whats a:hover {
  background-color: rgb(43, 255, 0);
  color: white;
  border: 5px solid green;
}
@media only screen and (max-width: 420px) {
  .parte-1 .suscripcion h2 {
    background-color: rgb(255, 253, 253);
    margin: 0%;
    width: 15rem;
    font-size: 87%;
    transform: translateX(3.6rem);
  }
  .parte-1 .suscripcion p {
    background-color: rgb(255, 255, 255);
    margin: 3%;
    transform: translateX(4rem);
    font-size: 90%;
    width: 13rem;
    height: 10rem;
  }
  .parte-1 .suscripcion .whats {
    width: 9rem;
    margin: 8%;
    transform: translateX(5rem);
  }
}

.parte-2 h2 {
  width: 250px;
  transform: translateX(32.3rem);
  font-size: 28px;
  margin: 17px;
}
.parte-2 .Lista-de-Participantes {
  margin: 15px;
  width: 240px;
  transform: translateX(31rem);
}
.parte-2 .Lista-de-Participantes li {
  margin: 10px;
  margin-left: 50px;
}
.parte-2 .prueba {
  width: 15rem;
  border-bottom: 2px solid rgb(243, 0, 0);
  margin: 10px 31rem 2rem;
}
@media only screen and (max-width: 420px) {
  .parte-2 .prueba {
    width: 48%;
    margin: 6%;
    margin-left: 29%;
  }
  .parte-2 h2 {
    margin: 0%;
    font-size: 110%;
    transform: translateX(8rem);
    width: 7rem;
  }
  .parte-2 .Lista-de-Participantes {
    margin: 3%;
    width: 60%;
    transform: translateX(4.5rem);
  }
  .parte-2 .Lista-de-Participantes li {
    font-size: 90%;
  }
}

.parte-3 .prueba {
  width: 15rem;
  border-bottom: 2px solid rgb(243, 0, 0);
  margin: 10px 31rem 2rem;
}
.parte-3 h3 {
  font-size: 30px;
  margin-top: 50px;
  margin: 30px;
  width: 130px;
  transform: translateX(31.5rem);
}
.parte-3 img {
  margin-top: -2rem;
  margin: 30px;
  transform: translateX(16.5rem);
}
.parte-3 p {
  width: 270px;
  transform: translate(31rem);
  margin: 20px;
  margin-bottom: 40px;
  font-size: 18px;
}
.parte-3 p a:hover {
  transform: scale(1.1);
  color: red;
}
@media only screen and (max-width: 420px) {
  .parte-3 .prueba {
    width: 48%;
    margin: 6%;
    margin-left: 29%;
  }
  .parte-3 h3 {
    margin: 0%;
    font-size: 110%;
    transform: translateX(7.8rem);
  }
  .parte-3 img {
    width: 100%;
    margin: 0%;
    transform: translateX(0%);
  }
  .parte-3 p {
    width: 65%;
    font-size: 90%;
    transform: translateX(3rem);
  }
}

footer {
  background-image: linear-gradient(to right, rgb(255, 255, 255), red);
  color: rgb(0, 0, 0);
}
footer .redes {
  cursor: pointer;
  width: 210px;
  margin: 3px;
}
footer .redes img {
  width: 73px;
  height: 65px;
  border-radius: 40px;
  margin: 14px;
  transition: all 0.3s;
}
footer .redes img:hover {
  transform: scale(1.2);
}
footer ul {
  margin: 10px;
}
footer ul li {
  margin: 13px;
  list-style: none;
}
footer P {
  margin: 7px;
}
@media only screen and (max-width: 420px) {
  footer {
    margin: 0%;
    width: 100%;
  }
  footer .redes img {
    width: 30%;
  }
  footer .redes p {
    font-size: 6%;
    margin: 3%;
  }
}

/*# sourceMappingURL=style.css.map */
