@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
}

header {
  position: fixed;
  z-index: 6;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right, rgb(230, 230, 230), rgb(238, 0, 0));
  align-items: center;
  width: 100%;
  height: 95px;
}
@media only screen and (max-width: 420px) {
  header {
    background-image: linear-gradient(to right, rgb(209, 0, 0), rgb(219, 212, 212));
    width: 100%;
    height: 13%;
  }
}

.nav .nav-item {
  display: inline-flex;
  justify-content: space-around;
  margin: 10px 40px;
}
.nav .nav-item .nav__li {
  font-size: 21px;
  color: black;
  text-decoration: none;
}
.nav .nav-item .nav__li:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
}
@media only screen and (max-width: 420px) {
  .nav {
    display: grid;
    grid-template-columns: repeat(2, 90px);
    column-gap: 1px;
  }
  .nav .nav-item {
    margin: 0em 1em;
  }
  .nav .nav-item .nav__li {
    font-size: 1em;
    margin: 3px;
  }
}

.redes {
  display: flex;
  justify-content: space-around;
  width: 200px;
}
.redes img {
  width: 73px;
  height: 65px;
  border-radius: 40px;
  transition: all 0.3s;
}
.redes img:hover {
  transform: scale(1.2);
}

main section .logo {
  display: flex;
  justify-content: center;
}
main section .logo img {
  width: 500px;
  height: 900px;
  margin-top: 80px;
}
main section .titulo-de-entrada {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20px;
}
main section .titulo-de-entrada h1 {
  font-size: 34px;
}
main section .prueba {
  width: 20rem;
  margin: 20px auto;
  border-bottom: 4px solid rgb(241, 120, 120);
}
main section .intro {
  display: flex;
  justify-content: space-around;
  margin: 10px 50px;
  padding: 30px;
  text-align: center;
  background-color: rgb(199, 193, 193);
}
main section .intro p {
  padding-top: 2rem;
  font-size: 19px;
  width: 30rem;
}
main section .intro img {
  width: 400px;
  height: 300px;
}
@media only screen and (max-width: 420px) {
  main section .logo img {
    margin-top: 6.5rem;
    width: 50%;
    height: 50%;
  }
  main section .titulo-de-entrada h1 {
    font-size: 100%;
  }
  main section .prueba {
    width: 70%;
    margin: auto;
  }
  main section .intro {
    display: inline-block;
    margin: 10px 5%;
    width: 90%;
    padding: 0%;
    text-align: center;
  }
  main section .intro p {
    margin: 0px 15%;
    width: 70%;
    font-size: 90%;
  }
  main section .intro img {
    width: 80%;
    height: 80%;
    margin: 5% 6%;
  }
}

.fest {
  display: flex;
}
.fest ul {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  row-gap: 5px;
  column-gap: 5px;
  margin: 10px auto;
}
.fest ul li {
  list-style: none;
}
.fest ul li .elemento {
  width: 350px;
  height: 300px;
}
@media only screen and (max-width: 420px) {
  .fest ul {
    overflow: hidden;
    display: flex;
    width: 85%;
    margin: 3% auto;
    list-style: none;
  }
  .fest ul li {
    animation: slide 16s infinite alternate ease-in-out;
  }
  .fest ul li img {
    width: 100%;
    height: auto; /* Asegura que la altura se ajuste automáticamente */
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(-100%);
    }
    55% {
      transform: translateX(-100%);
    }
    60% {
      transform: translateX(-200%);
    }
    85% {
      transform: translateX(-200%);
    }
    90% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-300%);
    }
  }
}

.parte-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}
.parte-1 h2 {
  width: 300px;
  font-size: 27px;
  margin: 10px;
}
@media only screen and (max-width: 420px) {
  .parte-1 h2 {
    margin: auto;
    width: auto;
    font-size: 25px;
  }
}
.parte-1 p a:hover {
  transform: scale(1.1);
  color: red;
}
@media only screen and (max-width: 420px) {
  .parte-1 p {
    margin: 3%;
    width: 17rem;
    font-size: 16px;
  }
  .parte-1 p a {
    font-size: 100%;
  }
}
.parte-1 .inscripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parte-1 .inscripcion h2 {
  margin: 5px;
  font-size: 26px;
  width: 860px;
}
.parte-1 .inscripcion p {
  width: 550px;
  margin: 10px;
}
.parte-1 .inscripcion .whats {
  width: 12rem;
  margin: 40px;
}
.parte-1 .inscripcion .whats a {
  width: 100px;
  background-color: white;
  color: green;
  border: 5px solid green;
  height: 60px;
  margin: 30px;
  font-size: 20px;
  padding: 15px;
  border-radius: 13px;
  list-style-type: none;
  text-decoration: none;
}
.parte-1 .inscripcion .whats a:hover {
  background-color: rgb(43, 255, 0);
  color: white;
  border: 5px solid green;
}
@media only screen and (max-width: 420px) {
  .parte-1 .inscripcion h2 {
    background-color: rgb(255, 253, 253);
    margin: 0%;
    width: 15rem;
    font-size: 87%;
    transform: translateX(3.6rem);
  }
  .parte-1 .inscripcion p {
    background-color: rgb(255, 255, 255);
    margin: 3%;
    transform: translateX(4rem);
    font-size: 90%;
    width: 13rem;
    height: 10rem;
  }
  .parte-1 .inscripcion .whats {
    width: 9rem;
    margin: 8%;
    transform: translateX(5rem);
  }
}

.parte-2 .titulo-de-entrada h2 {
  font-size: 30px;
}
.parte-2 .Lista-de-Participantes {
  display: grid;
  grid-template-columns: repeat(3, 301px);
  row-gap: 5px;
  text-align: center;
}
.parte-2 .Lista-de-Participantes .list__item {
  width: 16rem;
  margin: 13px 13.2rem;
}
.parte-2 .Lista-de-Participantes .list__item h3 {
  margin: 10px;
  font-size: 23px;
}
.parte-2 .Lista-de-Participantes .list__item li {
  list-style: none;
  margin: 10px;
}
@media only screen and (max-width: 420px) {
  .parte-2 .titulo-de-entrada {
    margin: 5px;
  }
  .parte-2 .titulo-de-entrada h2 {
    font-size: 30px;
  }
  .parte-2 .Lista-de-Participantes {
    display: block;
    width: 70%;
    margin: 0em auto;
  }
  .parte-2 .Lista-de-Participantes .list__item {
    width: 100%;
    margin: 0px;
  }
}

.parte-3 h3 {
  font-size: 30px;
  margin: 10px 33.5rem;
  width: 177px;
}
.parte-3 .img_cont {
  display: flex;
  justify-content: center;
}
.parte-3 #objeto {
  display: flex;
  justify-content: center;
}
.parte-3 #objeto p {
  width: 270px;
  margin: 30px;
  font-size: 18px;
}
.parte-3 #objeto p a:hover {
  transform: scale(1.1);
  color: red;
}
@media only screen and (max-width: 420px) {
  .parte-3 h3 {
    margin: 3% auto;
    font-size: 30px;
  }
  .parte-3 img {
    width: 100%;
  }
  .parte-3 #objeto p {
    font-size: 15px;
  }
}

footer {
  padding: 10px;
  background-image: linear-gradient(to right, rgb(255, 255, 255), red);
  color: rgb(0, 0, 0);
}
footer .redes img {
  width: 73px;
  height: 65px;
  border-radius: 40px;
  transition: all 0.3s;
}
footer .redes img:hover {
  transform: scale(1.2);
}
footer ul li {
  margin: 13px 0;
  list-style: none;
}
@media only screen and (max-width: 420px) {
  footer {
    margin: 0%;
    width: 100%;
  }
  footer ul li {
    margin: 2% 3%;
    font-size: 14px;
  }
  footer p {
    margin: 2% 3%;
    font-size: 13px;
  }
}

/*# sourceMappingURL=style.css.map */
