* {
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
}

header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(204, 199, 199);
  align-items: center;
  height: 95px;
  padding: 5px 10%;
}
header .nav-links {
  list-style: none;
  cursor: pointer;
}
header .nav-links li {
  display: inline-block;
  padding: 0 20px;
  margin-left: 4rem;
}
header .nav-links li:hover {
  transform: scale(1.1);
  color: red;
}
header .nav-links li a {
  font-size: 700;
  color: black;
  text-decoration: none;
}
header .redes {
  cursor: pointer;
  width: 210px;
}
header .redes img {
  width: 73px;
  height: 65px;
  border-radius: 40px;
  margin: 14px;
  transition: all 0.3s;
}
header .redes img:hover {
  transform: scale(1.2);
}

main section .logo img {
  width: 500px;
  height: 900px;
  margin: 20px;
  transform: translatex(23rem);
}
main section h1 {
  font-size: 34px;
  margin: 10px 0px 0px 0px;
  margin-left: 20rem;
}
main section .prueba {
  width: 15rem;
  border-bottom: 2px solid rgb(241, 120, 120);
  margin: 10px 30rem 2rem;
}
main section .intro {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  background-color: rgb(233, 229, 229);
}
main section .intro p {
  padding-top: 2rem;
  font-size: 19px;
  width: 30rem;
  margin-left: 3rem;
}
main section .intro p a:hover {
  transform: scale(1.1);
  color: red;
}
main section .intro img {
  margin-left: 3rem;
  width: 400px;
  height: 300px;
}

.fest {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  row-gap: 5px;
  column-gap: 5px;
}
.fest img {
  transform: translateX(7rem);
  margin: 15px;
  width: 350px;
  height: 300px;
}

.parte-1 h2 {
  width: 270px;
  transform: translateX(31.3rem);
  font-size: 27px;
  margin: 17px;
}
.parte-1 p {
  transform: translateX(29.5rem);
  width: 350px;
}
.parte-1 p a:hover {
  transform: scale(1.1);
  color: red;
}

.parte-2 h2 {
  width: 250px;
  transform: translateX(34rem);
  font-size: 24px;
  margin: 17px;
}
.parte-2 .Lista-de-Participantes {
  margin: 10px;
}
.parte-2 .Lista-de-Participantes li {
  width: 200px;
  transform: translate(33.5rem);
  margin: 6px;
}

.parte-3 h3 {
  font-size: 20px;
  margin-top: 50px;
  margin: 30px;
  width: 130px;
  transform: translate(32.5rem);
}
.parte-3 img {
  margin-top: -2rem;
  margin: 30px;
  transform: translateX(16rem);
}
.parte-3 p {
  width: 270px;
  transform: translate(28rem);
  margin: 20px;
}
.parte-3 p a:hover {
  transform: scale(1.1);
  color: red;
}

footer {
  background-color: rgb(189, 185, 185);
}
footer .redes {
  cursor: pointer;
  width: 210px;
  margin: 3px;
}
footer .redes img {
  width: 73px;
  height: 65px;
  border-radius: 40px;
  margin: 14px;
  transition: all 0.3s;
}
footer .redes img:hover {
  transform: scale(1.2);
}
footer ul {
  margin: 10px;
}
footer ul li {
  margin: 13px;
  list-style: none;
}
footer P {
  margin: 7px;
}

/*# sourceMappingURL=style.css.map */
