@import "../components/_mixin.scss";
.fest{
    display: grid;
    grid-template-columns: repeat(3,380px);
    row-gap: 5px;
    column-gap: 5px;
     img {
        margin:13px 6.6em;
        width: 350px;
        height: 300px;
        } 
 //--------PARTE MOBILE--------------
    @include mv(){
            display: flex;
            flex-wrap: nowrap;
            overflow: scroll;
            width: 15rem;
            margin:16PX 3.5rem;
       .elemento{
                transition:all  0.5s;
                flex: 1 0 auto;
                margin: 0 3rem;
                width: 10rem ;
                height: 10rem;
        }
    }
}