@mixin mv( $media: 420px){
    @media only screen and (max-width: $media){
        @content;
    }
}
@mixin mixin-redes {
    width: 73px;
    height: 65px;
    border-radius: 40px; 
    transition: all 0.3s;
}
@mixin mixin-boton{
    width: 100px;
    background-color:white;
    color:green;
    border: 5px solid green;
    height: 60px;
    margin: 30px;
    font-size: 20px;
    padding: 15px;
    border-radius: 13px;
    list-style-type: none;
    text-decoration: none;
}
