@import "../components/_mixin.scss";

.parte-1{
    h2{
        width:270px ;
        transform: translateX(31.3rem);
        font-size: 27px;
        margin: 17px;
       
    }

     p{
        transform: translateX(29.5rem);
        width: 350px;
        
        a{
            &:hover{
                transform: scale(1.1);
                color: red;
            }
        }
    }

}


.parte-2{

    h2{
        width:250px ;
        transform: translateX(34rem);
        font-size: 24px;
        margin: 17px;
   
    }

    .Lista-de-Participantes{
        margin: 10px;

            li{
                width: 200px;
                transform: translate(33.5rem);
                margin: 6px;
            }
    }

    .suscripcion{

            h2{
                margin: 20px;
                font-size: 27px;
                transform: translateX(15rem);
                width: 860px;
                // color :red;
            }

            p{
                width: 550px;
                margin: 50px;
                transform: translateX(20rem);

            }
            .whats{
                width: 120px;
                transform: translateX(33.2rem);
                
                a{    
                    @include mixin-boton; 
                    
                    &:hover{
                        background-color:rgb(43, 255, 0);
                        color: white;
                        border: 5px solid green;
                    } 
                }
            }
        
    }
}


.parte-3{

    h3{
        font-size: 20px;
        margin-top: 50px;
        margin: 30px;
        width: 130px;
        transform: translate(32.5rem);
    }

    img{
        margin-top:-2rem;
        margin: 30px;
        transform: translateX(16rem);

    }

    p{
        width: 270px;
        transform: translate(28rem);
        margin:20px;
        
        a{
            &:hover{
                transform: scale(1.1);
                color: red;
            }
        }

    }

}
