@import "../components/_mixin.scss";

.parte-1{

    .prueba{
            width:15rem;
            border-bottom:2px solid rgb(243, 0, 0);
            margin: 10px 31rem 2rem;
    }

    h2{
        width:270px ;
        transform: translateX(30.4rem);
        font-size: 27px;
        margin: 17px;
       
    }

     p{
        transform: translateX(29.5rem);
        width: 350px;
        
        a{
            &:hover{
                transform: scale(1.1);
                color: red;
            }
        }
    }
    
    .suscripcion{

        h2{
            margin: 20px;
            font-size: 26px;
            transform: translateX(15rem);
            width: 860px;
            // color :red;
        }

        p{
            width: 550px;
            margin: 50px;
            transform: translateX(22rem);

        }
        .whats{
            width: 120px;
            transform: translateX(34rem);
            margin-bottom: 60px;
            
            a{    
                @include mixin-boton; 
                
                &:hover{
                    background-color:rgb(43, 255, 0);
                    color: white;
                    border: 5px solid green;
                } 
            }
        } 
}

}


.parte-2{

    h2{
        width:250px ;
        transform: translateX(32.3rem);
        font-size: 28px;
        margin: 17px;
   
    }

    .Lista-de-Participantes{
        margin: 15px;

            li{
                width: 200px;
                transform: translate(32rem);
                margin: 6px;
            }
    }

    .prueba{
        width:15rem;
        border-bottom:2px solid rgb(243, 0, 0);
        margin: 10px 31rem 2rem;
}

}


.parte-3{

    .prueba{
        width:15rem;
        border-bottom:2px solid rgb(243, 0, 0);
        margin: 10px 31rem 2rem;
}

    h3{
        font-size: 30px;
        margin-top: 50px;
        margin: 30px;
        width: 130px;
        transform: translateX(31.5rem);
    }

    img{
        margin-top:-2rem;
        margin: 30px;
        transform: translateX(16.5rem);

    }

    p{
        width: 270px;
        transform: translate(31rem);
        margin:20px;
        margin-bottom: 40px;
        font-size: 18px;
        
        a{
            &:hover{
                transform: scale(1.1);
                color: red;
            }
        }

    }

}
