@import "../components/_mixin.scss";
footer{
    padding: 10px;
    background-image:linear-gradient(to right, rgb(255, 255, 255), red );
    color: rgb(0, 0, 0);
    .redes{
        img{
            @include mixin-redes;
            &:hover{
                transform: scale(1.2);
            }
        }
    } 
    ul{
        li{
            margin: 13px 0;
            list-style: none;
        }
    }
    @include mv(){
        margin: 0%;
        width: 100%;
        .redes{
        p{
            font-size: 6%;
            margin: 3%;
            }
        }
    }
}