@import "../components/_mixin.scss";

header{
    position: fixed;
    z-index: 6;
    display: flex;
    justify-content:space-around;
    background-image:linear-gradient(to right, rgb(230, 230, 230), rgb(238, 0, 0) );
    align-items: center;
    width: 100%;
    height: 95px;
    
@include mv(){
    background-image:linear-gradient(to right, rgb(209, 0, 0), rgb(219, 212, 212) );
    width: 100%;
    height: 8em;
}

}

.nav{
    .nav__links{
        list-style: none;
        cursor: pointer;}

        .nav-item{
            display: inline-block;
            padding: 0 20px;
                
                .nav__li{          
                    font-size: 21px;
                    color: black;
                    text-decoration: none;
                    margin-left:3rem ;
                    
                &:hover{
                    transform: scale(1.1);
                    color: rgb(255, 255, 255);
                }
            }        
        }
    
        @include mv() {
            display:grid;
            grid-template-columns:repeat(2,125px);
            column-gap: 7px;

            .nav-item{
                
                .nav__li{
                    font-size: 1.2em;
                    margin: 0 auto;
                }   
            }
        }
}


.redes{
    cursor: pointer;
    width: 200px;
 

        .ig{
            width: 63px;
            height: 65px;
            border-radius: 40px;
            margin: 8%;

            &:hover{
                transform: scale(1.1);
            }
        }

        .face{
            width: 53px;
            height: 65px;
            border-radius: 50px;
            margin: 8%;

            &:hover{
                transform: scale(1.1);
            }
        }

        @include mv{
            
            .ig{
                border-radius: 50%;
                margin: 3%;
                width: 50%;
                height: 40%;
            }

            .face{
                border-radius: 59%;
                margin: 3%;
                width: 43%;
                height: 40%;
            }
            
            // img{
            //     border-radius: 40%;
            //     margin: 3%;
            //     width: 40%;
            //     height: 40%;
            // }
            
        }
} 


