@import "../components/_mixin.scss";


header{
        nav{
            display: flex;
            justify-content:space-evenly ;
            .elementos{
                    ul{
                        li{
                        
                           

                        }
                    }    
            }
            .redes{
                margin-left: 3rem;
                margin: 1rem;
                 
                img{
                   @include mixin-redes
                }
                .ig{
                    @include mixin-redes
                }

            }
     }
}