@import "../components/_mixin.scss";

main{
   section{
           .logo{

             img{
                width: 500px;
                height: 900px;
                margin: 20px;
                margin-top: 5rem;
                margin-left: 23rem;
                // transform: translatex(23rem);
                
            }
        }

        h1{
            font-size: 34px;
            margin: 10px 0px 0px 0px;  
            margin-left: 20rem;
        }

        .prueba{
            width:15rem;
            border-bottom:2px solid rgb(241, 120, 120);
            margin: 10px 30rem 2rem;
            
        }

        .intro{
            display: flex;
            justify-content: space-around;
            margin: 10px;
            padding: 10px;
            background-color: rgb(233, 229, 229);

                p{
                    padding-top: 2rem;
                    font-size: 19px;
                    width: 30rem;
                    margin-left: 3rem;

                        // a{
                        //     &:hover{
                        //         transform: scale(1.1);
                        //         color: red;
                        //     }
                        // }
                }   
            
                img {
                    margin-left: 3rem;
                    width: 400px;
                    height: 300px;
                } 
        } 
    
        @include mv(){
         
            .logo{
               
                img{
                    margin: 5%;
                    margin-left: 25.9%;
                    width: 50%;
                    height: 50%;
                }
            }

            h1{
                font-size: 96%;
                margin: 3%;
                margin-left:10% ;
            }

            .prueba{
                width: 45%;
                margin: 4%;
                margin-left: 30%;
            }

            .intro{
                
                display: block;
                margin: 5%;
                width: 90%;

                    p{
                        width: 70%;
                        font-size: 93%;
                    }

                    img{
                        width: 70%;
                        margin: 5%;
                        margin-left:17% ;
                    }
            }

        }
    }
}