@import "../components/_mixin.scss";

main{
   section{
        .logo{
            display: flex;
            justify-content: center;
             img{//----------IMAGEN INICIAL----------------
                width: 500px;
                height: 900px;
                margin:80px;
            }
        }
        h1{
            font-size: 34px;
            margin:5px 20rem;
        }
//------------LINEA DIVISORIA----------------- 
        .prueba{
            width:17rem;
            margin: auto;
            border-bottom:4px solid rgb(241, 120, 120);
        }
//-------------CUERPO DE LA EXPLICACION-------
        .intro{
            display: flex;
            justify-content: space-around;
            margin: 10px 50px;
            padding: 30px;
            text-align: center;
            background-color: rgb(199, 193, 193);
            p{
                padding-top: 2rem;
                font-size: 19px;
                width: 30rem;
            }   
            img {
                width: 400px;
                height: 300px;
            } 
        } 
 //-------------PARTE MOBILE-------------
@include mv(){
        .logo{
            img{
                margin-top:6rem;
                width: 50%;
                height: 50%;
            }
        }
        h1{
            font-size: 100%;
            margin:0px 10% 20px;
        }
       .prueba{
            width:50%;
            margin:auto;
            }
//-----CUERPO DE LA EXPLICACION----------
        .intro{
                display:inline-block;
                margin: 10px 5%;
                width: 90%;
                padding: 0%;
                text-align: center;
            p{
                margin: 0px 15%;
                width: 70%;
                font-size: 90%;
                }
            img{
                width: 80%;
                height:80%;
                margin: 5% 6%;
                }
            }
        }
    }
}